{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--import my own css-->
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="icon" href="{% static 'image/logo.png' %}">
</head>

<body style="margin: 0%;">
    <div id="my_game"></div>
    <script type="module">
        import { MyGame } from "{% static 'js/dist/game.js' %}";
        $(document).ready(function () {
            let my_game = new MyGame("my_game"); // all the pages are in this object
        });
    </script>
</body>